In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import os
from urllib.request import urlretrieve

now = datetime.now().strftime('%Y-%m-%d_%H:%M:%S')

print(f"Notebook execution: {now}")

Notebook execution: 2025-10-02_23:07:38

### **Check url logic**
_____

In [2]:
url = ("https://storage.googleapis.com/nozzle-csv-exports/testing-data/order_items_2_.csv")

timestamp = datetime.now().strftime('%Y%m%d_%H%M%S')
file_name = f"order_items_{timestamp}.csv"
output_path = "data"
output_path = os.path.join(output_path, file_name)

print(f"data filename: {file_name}")
print(f"output path: {output_path}")

data filename: order_items_20251002_230740.csv
output path: data/order_items_20251002_230740.csv

In [3]:
import requests
from typing import Optional

def check_request(url: str, timeout: Optional[int] = 15) -> Optional[bytes]:
    """This function do the request to the
        url
        
        Args:
            - url
            - timeout
    """
    # Try/catch to check url
    try:
        response = requests.get(url, timeout=timeout)
        response.raise_for_status()  # Check for error codes (classic 404 lol)
        return response.content
    
    except requests.Timeout:
        print(f"response took more than {timeout} seconds")
        return None

    except requests.HTTPError as e:
        print(f"HTTP Error {e.response.status_code}: {e}")
        return None
    
    except requests.RequestException as e:
        print(f"Download failed: {e}")
        return None

data = check_request("https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv")
#Test url "https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv"

In [4]:
data # bytes

b'"Month", "1958", "1959", "1960"\n"JAN",  340,  360,  417\n"FEB",  318,  342,  391\n"MAR",  362,  406,  419\n"APR",  348,  396,  461\n"MAY",  363,  420,  472\n"JUN",  435,  472,  535\n"JUL",  491,  548,  622\n"AUG",  505,  559,  606\n"SEP",  404,  463,  508\n"OCT",  359,  407,  461\n"NOV",  310,  362,  390\n"DEC",  337,  405,  432\n\n'

### **Download the file**
_______

In [5]:
from pathlib import Path

def download_file(url_data):
    """
        Download the data file to a .csv file,
        creates the /data folder and saves 
        the downloaded data in the /data folder
        with the name: 
        order_items_<timestamp>.csv

        Arg:
    """
    timestamp = datetime.now().strftime('%Y%m%d_%H%M%S')
    filename = f"order_items_{timestamp}.csv"

    data_folder = Path("../data")
    data_folder.mkdir(parents=True, exist_ok=True)

    output_file = data_folder / filename

    # Save to file
    with output_file.open('wb') as f:
        f.write(url_data)

download_file(data)

### **Clean data**
______

In [11]:
data = pd.read_csv("../data/order_items_data_2_.csv", sep=",")
discarded_rows = []
print(data.dtypes)
print(f"shape: {data.shape}")
print(data.sample(2))

order_id                   object
purchased_at               object
purchased_date             object
purchased_month_ended      object
order_item_id              object
sku                        object
product_title              object
product_name_full          object
currency                   object
item_price                 object
item_tax                   object
shipping_price             object
shipping_tax               object
gift_wrap_price            object
gift_wrap_tax              object
item_promo_discount        object
shipment_promo_discount    object
ship_service_level         object
dtype: object
shape: (5430317, 18)
                                     order_id                purchased_at  \
1295482  a1716ffe-9ce8-4c8b-8d55-cc238ed07839  2025-02-22T00:13:16.184576
4180656  74d6bd94-769a-42f1-ad9c-1a9dbffcc504  2025-01-17T17:01:13.719529

        purchased_date purchased_month_ended   order_item_id           sku  \
1295482     2025-02-22            2025-02-28  62474761607421  jJS-24128849
4180656     2025-01-17            2025-01-31  24662642859982  CMq-39399345

                     product_title          product_name_full currency  \
1295482  Dulce Tortilla de patatas  Dulce Tortilla de patatas      USD
4180656      Natural Jamón ibérico      Natural Jamón ibérico      USD

        item_price item_tax shipping_price shipping_tax gift_wrap_price  \
1295482      77.92     4.97           8.49         1.58            0.07
4180656      35.35     3.03           1.37         0.22             0.0

        gift_wrap_tax item_promo_discount shipment_promo_discount  \
1295482          0.01                 1.2                    0.83
4180656           0.0                2.58                    0.17

        ship_service_level
1295482            One Day
4180656            One Day

#### **Remove duplicates**
_____

In [12]:
duplicates = data[data.duplicated(keep='first')]
data_without_duplicates = data.drop_duplicates(keep="first")
discarded_rows.append(duplicates)
print(f"original shape: {data.shape}")
print(f"duplicates shape: {duplicates.shape}")
print(f"without duplicates shape: {data_without_duplicates.shape}")
print(f"Discarded log elements: {len(pd.concat(discarded_rows, ignore_index=True))}")

original shape: (5430317, 18)
duplicates shape: (1104476, 18)
without duplicates shape: (4325841, 18)
Discarded log elements: 1104476

In [13]:
discarded_rows

[                                     order_id                purchased_at  \
 19                                        NaN                         NaN
 33                                        NaN                         NaN
 35                                        NaN                         NaN
 52                                        NaN                         NaN
 59                                        NaN                         NaN
 ...                                       ...                         ...
 5430301  5f76c263-c79a-4e7b-9458-e3241db790fa  2025-04-10T22:27:43.648907
 5430303  3a6dc8b0-c206-4ae8-946e-1af9a376f464  2025-01-01T05:30:20.944186
 5430304                                   NaN                         NaN
 5430306  6428c2e1-d8de-4e2e-8e84-f9b1bb56fd15  2025-02-14T17:28:15.012963
 5430309  68a81cd0-bb98-4c16-8d45-493bfb0e4e7f  2025-04-29T03:29:47.292819

         purchased_date purchased_month_ended   order_item_id           sku  \
 19                 NaN                   NaN             NaN           NaN
 33                 NaN                   NaN             NaN           NaN
 35                 NaN                   NaN             NaN           NaN
 52                 NaN                   NaN             NaN           NaN
 59                 NaN                   NaN             NaN           NaN
 ...                ...                   ...             ...           ...
 5430301     2025-04-10            2025-04-30  18026481710231  OsV-46523835
 5430303     2025-01-01            2025-01-31  38177577025449  Mkj-36894672
 5430304            NaN                   NaN             NaN           NaN
 5430306     2025-02-14            2025-02-28  85845913527824  raO-21663955
 5430309     2025-04-29            2025-04-30  99045273255499  lEC-00443804

                          product_title               product_name_full  \
 19                                 NaN                             NaN
 33                                 NaN                             NaN
 35                                 NaN                             NaN
 52                                 NaN                             NaN
 59                                 NaN                             NaN
 ...                                ...                             ...
 5430301            Dulce Jamón ibérico          Dulce Jamón ibérico 54
 5430303  Auténtico Tortilla de patatas   Auténtico Tortilla de patatas
 5430304                            NaN                             NaN
 5430306    Picante Tortilla de patatas  Picante Tortilla de patatas 28
 5430309        Delicioso Pan artesanal      Delicioso Pan artesanal 91

         currency item_price item_tax shipping_price shipping_tax  \
 19           NaN        NaN      NaN            NaN          NaN
 33           NaN        NaN      NaN            NaN          NaN
 35           NaN        NaN      NaN            NaN          NaN
 52           NaN        NaN      NaN            NaN          NaN
 59           NaN        NaN      NaN            NaN          NaN
 ...          ...        ...      ...            ...          ...
 5430301      USD     108.36    11.43           1.25         0.24
 5430303      USD      82.63     7.48           2.54         0.42
 5430304      NaN        NaN      NaN            NaN          NaN
 5430306      USD      78.88     5.58           6.31         0.81
 5430309      USD      41.87      2.7           9.63          1.5

         gift_wrap_price gift_wrap_tax item_promo_discount  \
 19                  NaN           NaN                 NaN
 33                  NaN           NaN                 NaN
 35                  NaN           NaN                 NaN
 52                  NaN           NaN                 NaN
 59                  NaN           NaN                 NaN
 ...                 ...           ...                 ...
 5430301             0.0           0.0               28.31
 5430303            0.55          0.05                24.6
 5430304             NaN           NaN                 NaN
 5430306            6.16          0.51                9.14
 5430309             0.0           0.0                9.66

         shipment_promo_discount ship_service_level
 19                          NaN                NaN
 33                          NaN                NaN
 35                          NaN                NaN
 52                          NaN                NaN
 59                          NaN                NaN
 ...                         ...                ...
 5430301                    0.37         Second Day
 5430303                     0.1         Second Day
 5430304                     NaN                NaN
 5430306                    0.38          Expedited
 5430309                    0.49         Second Day

 [1104476 rows x 18 columns]]

#### **Drop empty rows**
_____

In [14]:
empty_rows = data[data.isna().all(axis=1)]
discarded_rows.append(empty_rows)
data_without_duplicates_and_null = data_without_duplicates.dropna(how='all')
print(f"without duplicates and nulls shape: {data_without_duplicates_and_null.shape}")
print(f"Discarded log elements: {len(pd.concat(discarded_rows, ignore_index=True))}")

without duplicates and nulls shape: (4325840, 18)
Discarded log elements: 1630086

#### **Log discarded rows**
_____

In [15]:
# discarded_rows = []
if not discarded_rows:
    discarded_rows_df = pd.DataFrame()  # Return empty if nothing discarded
    
discarded_rows_df = pd.concat(discarded_rows, ignore_index=True) 
print(f"Discarded log elements: {discarded_rows_df.shape}")

Discarded log elements: (1630086, 18)

#### **Save discarded rows**
_____

In [16]:
discarded_rows_df.to_csv("../data/discarded_rows.csv", index=False)

### **Reports**
____

#### **Processing stats report**
_____

In [17]:
print(f"total_rows: {len(data)}")
print(f"empty_rows: {len(empty_rows)}")
print(f"invalid_rows_discarded: {len(discarded_rows_df)}")
print(f"total_duplicate_rows: {len(duplicates)}")
print(f"total_usable_rows: {len(data_without_duplicates_and_null)}")

total_rows: 5430317
empty_rows: 525610
invalid_rows_discarded: 1630086
total_duplicate_rows: 1104476
total_usable_rows: 4325840

In [19]:
import json

stats_dict = {
        "total_rows": len(data),
        "total_empty_rows_removed": len(empty_rows),
        "total_invalid_rows_discarded": len(discarded_rows_df),
        "total_duplicate_rows_removed": len(duplicates),
        "total_usable_rows": len(data_without_duplicates_and_null)
    }

output_path_json = os.path.join("../data", "processing_stats.json")
with open(output_path_json, "w") as f:  # open and write the file
            json.dump(stats_dict, f, indent=4)

#### **Monthly metrics report**
_______