In [1]:
import pandas as pd
from datetime import datetime

df = pd.read_csv("../data/clean_data_20251005_003149.csv", sep=",")
print(f"df shape: {df.shape}")

now = datetime.now().strftime('%Y-%m-%d_%H:%M:%S')

print(f"Notebook execution: {now}")

df shape: (4325840, 18)
Notebook execution: 2025-10-05_15:18:38

In [2]:
df.dtypes

order_id                   object
purchased_at               object
purchased_date             object
purchased_month_ended      object
order_item_id              object
sku                        object
product_title              object
product_name_full          object
currency                   object
item_price                 object
item_tax                   object
shipping_price             object
shipping_tax               object
gift_wrap_price            object
gift_wrap_tax              object
item_promo_discount        object
shipment_promo_discount    object
ship_service_level         object
dtype: object

In [7]:
df["purchased_date"][5025:5035]

5025       2025-05-10
5026              NaN
5027       2025-04-02
5028       2025-05-10
5029       2025-02-02
5030       2025-04-02
5031    2025-04-29ñá¿
5032       2025-03-13
5033       2025-05-01
5034       2025-02-19
Name: purchased_date, dtype: object

In [4]:
len(df["purchased_date"])

4325840

In [11]:
df["item_price"][5:15]

5         82.86
6        142.66
7         59.16
8         80.72
9     115.75\nú
10    91.99, üÑ
11       103.59
12        95.46
13         9.06
14       160.48
Name: item_price, dtype: object

In [12]:
df["item_price"].isna().sum()

np.int64(270795)

In [13]:
df["item_promo_discount"][:5]

0      35.44
1      22.79
2    4.97Áá¿
3      28.25
4      10.85
Name: item_promo_discount, dtype: object

In [14]:
df["item_promo_discount"].isna().sum()

np.int64(270822)

In [5]:
# Step 2: PRESERVE original date strings before conversion
# This is crucial! We save the text version before pandas converts it
df["purchased_date_original"] = df["purchased_date"].astype(str)

# Step 3: Convert text dates to datetime objects
df["purchased_date"] = pd.to_datetime(df["purchased_date"], errors="coerce")

# Step 4: Extract month-year (this will be NaT for invalid dates)
df["month_year"] = df["purchased_date"].dt.to_period("M")

# Step 5: Convert month_year Period to string to handle NaT properly
# NaT will become 'NaT' string, valid dates become '2025-01'
df["month_year"] = df["month_year"].astype(str)

# Step 6: Convert price columns to numeric
df["item_price"] = pd.to_numeric(df["item_price"], errors="coerce")
df["item_promo_discount"] = pd.to_numeric(df["item_promo_discount"], errors="coerce")

# Step 7: Remove rows with invalid dates
# Filter out rows where month_year is 'NaT' (as string)
df = df[df["month_year"] != "NaT"]

# Step 8: Optional - drop the original date column if not needed
# df = df.drop(columns=["purchased_date_original"])

In [6]:
len(df["purchased_date"])

3416649